In [7]:
# Question 1

In [14]:
import pandas as pd

In [15]:
iris_dataset = pd.read_csv("C:\\Program Files\\iris.csv")

In [16]:
iris_dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
# Question 2

In [18]:
from sklearn.impute import SimpleImputer

In [21]:
imputer = SimpleImputer(strategy="mean")
iris_dataset[["sepal_length", "sepal_width", "petal_length", "petal_width"]] = imputer.fit_transform(
    iris_dataset[["sepal_length", "sepal_width", "petal_length", "petal_width"]]
)

In [22]:
from sklearn.preprocessing import LabelEncoder

In [24]:
import numpy as np

In [26]:
label_encoder = LabelEncoder()
iris_dataset["species"] = label_encoder.fit_transform(iris_dataset["species"])