In [1]:
import pandas as pd

In [2]:
iris_dataset = pdi.read_csv("C:\\Program Files\\iris.csv")

In [3]:
iris_dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
imputer = SimpleImputer(strategy="mean")
iris_dataset[["sepal_length", "sepal_width", "petal_length", "petal_width"]] = imputer.fit_transform(
    iris_dataset[["sepal_length", "sepal_width", "petal_length", "petal_width"]]
)

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
label_encoder = LabelEncoder()
iris_dataset["species"] = label_encoder.fit_transform(iris_dataset["species"])

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()
iris_dataset[["sepal_length", "sepal_width", "petal_length", "petal_width"]] = scaler.fit_transform(
    iris_dataset[["sepal_length", "sepal_width", "petal_length", "petal_width"]]
)

In [10]:
iris_dataset.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0     -0.900681     1.032057     -1.341272    -1.312977        0
1     -1.143017    -0.124958     -1.341272    -1.312977        0
2     -1.385353     0.337848     -1.398138    -1.312977        0
3     -1.506521     0.106445     -1.284407    -1.312977        0
4     -1.021849     1.263460     -1.341272    -1.312977        0

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
X = iris_dataset.drop("species", axis=1) 
y = iris_dataset["species"]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (120, 4)
X_test shape: (30, 4)
y_train shape: (120,)
y_test shape: (30,)